*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.blok{
    width: 82.5%;
    min-height: 100vh;
    /* background-color: aqua; */
    margin-left: 8%;
    margin-top: 80px;
}
.title{
    width: 100%;
    height: 30vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    
}
.h2{
    font-size: 2.3rem;
}
.boot{
    font-size: 1.3rem;
    color: dimgrey;
}
.p3{
    font-size: 1.4rem;
    font-weight: 700;
}
.lists{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.list1{
    width: 100%;
    gap: 20px;
    display: flex;
    
    
}
.list2{
    width: 100%;
    display: flex;
   gap: 20px;
    
}






 




.userimg{
    width: 32%;
    height: 100%;   
}

.userimg img {
    width: 100%;
    height: 100%;
}

.users{
  
    /* margin-left: 8%; */
    /* width: 82.5%; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.cardinfo{
    width: 60%;
    height: 100%;
    
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    

}
.Stories{
    font-size: 1.8rem;
    font-weight: 700;
}
.All-Stories{
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width:993px) {
    .card-container {
        flex-direction: column;
    }

    .userimg {
        width: 100%;
    }
}







